<!-- project/delete_order.html
Julia Santos Nothaft (jnothaft@bu.edu)
Page to delete a specific order made-->

{% extends 'project/base.html' %}

{% block content %}
<style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
          text-align: center;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 16px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }

        * {
                  box-sizing: border-box;
                }

                input {
                  background-color: #CC0000;
                  color: white;
                  padding: 12px 20px;
                  border: none;
                  border-radius: 4px;
                  cursor: pointer;
                  float: left;
                  margin: 5px  10px 10px 16px;
                }

                input:hover {
                  background-color: #B00000;
                }

                button {
                  background-color: #CC0000;
                  color: white;
                  padding: 12px 20px;
                  border: none;
                  border-radius: 4px;
                  cursor: pointer;
                  float: right;
                  margin: 5px  10px 10px 16px;
                  align: right
                }

                button: hover{
                  background-color: #B00000;
                }



                .container {
                  border-radius: 5px;
                  background-color: #f2f2f2;
                  padding: 20px;
                }

                .col-25 {
                  float: left;
                  width: 25%;
                  margin-top: 6px;
                }

                .col-75 {
                  float: left;
                  width: 75%;
                  margin-top: 6px;
                }

                /* Clear floats after the columns */
                .row:after {
                  content: "";
                  display: table;
                  clear: both;
                }

                /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
                @media screen and (max-width: 600px) {
                  .col-25, .col-75, input[type=submit] {
                    width: 10%;
                    margin-top: 0;
                  }
                }
    </style>

<div>
    <a href="{% url 'personal' object.researcher.pk%}"><button>Go Back to my Profile</button></a>
    <h2 style="padding-left:16px;">Order Details</h2>

</div>




<table>

    <tr>
        <td><b>Institution</b></td>
        <td>{{object.institution}}</td>
    </tr>
    <tr>
        <td><b>Project Title</b></td>
        <td>{{object.project_title}}</td>
    </tr>
    <tr>
        <td><b>Project Description</b></td>
        <td>{{object.project_description}}</td>
    </tr>
    <tr>
        <td><b>Number of Positive Samples</b></td>
        <td>{{object.positive_samples}}</td>
    </tr>
    <tr>
        <td><b>Number of Negative Samples</b></td>
        <td>{{object.negative_samples}}</td>
    </tr>
    <tr>
        <td><b>Sample Information Requested</b></td>
        <td>{{object.sample_information}}</td>
    </tr>
    <tr>
        <td><b>Type of RNA Extraction Requested</b></th>
        <td>{{object.RNA_extraction}}</td>
    </tr>


</table>

<h4 style="padding-left:16px;">Are you sure you want to cancel this order?</h4>



            <form style="padding-right:10px;" method="POST" >
                {% csrf_token %}
                <input class="col-xs-3" type="submit" name="Yes, cancel order" value="Yes, cancel order">
            </form>

            <form style="padding-right:10px;" method="GET" action="{% url 'personal' object.researcher.pk %}">
                {% csrf_token %}
                <input class="col-xs-4 col-xs-offset-2" type="submit" name="No, take me back to my account" value="No, take me back to my account">
            </form>











{% endblock %}
