<!-- project/personal.html
Julia Santos Nothaft (jnothaft@bu.edu)
 Page displaying the private page for each user-->

{% extends 'project/base.html' %}

{% block content %}
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
          text-align: center;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 16px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>

<h1 style="padding-left:16px;">Welcome, {{researcher.first_name}}!</h1>

<h2 style="padding-left:16px;">Your Orders:</h2>

    <table>

        <tr>
            <th>Time</th>
            <th>Project Title</th>
            <th>Order Details</th>
            <th>Update Order</th>
            <th>Cancel Order</th>
        </tr>
        {% for order in researcher.get_order_form %}
        <tr style="font-size:small">


                <td>{{order.date_request}}</td>
                <td>{{order.project_title}}</td>
                <td><a href="{% url 'orders' order.pk %}">View</a></td>
                <td><a href="{% url 'update_order' order.pk %}">Update</a></td>



        </tr>
        {% endfor %}
    </table>


{% endblock %}





