<!-- project/samples.html
Julia Santos Nothaft (jnothaft@bu.edu)
 Page displaying the services offered in the biobank-->

{% extends 'project/base.html' %}

{% block content %}
<h1 style="text-align:justify; padding-left:16px; padding-right:16px">Services</h1>

<p style="padding-left:16px;text-align:justify; padding-right:20px">
    The Biobank offers two forms of RNA extraction services: Spin-Column RNA Extraction and Magnetic
    Bead RNA Extraction. These services can be requested when ordering samples. Below are shown
    detailed schematics outlining these services.
</p>

<h3 style="text-align:justify; padding-left:16px; padding-right:20px">Spin-Column RNA Extraction</h3>
<img src="http://cs-people.bu.edu/jnothaft/Spin-ColumnRNA.png" style="max-height:400">

<h3 style="text-align:justify; padding-left:16px; padding-right:16px">Magnetic Bead RNA Extraction</h3>
<img src="http://cs-people.bu.edu/jnothaft/Magnetic-BeadRNA.png" style="max-height:400; padding-left:75px">


{% endblock %}
