<!--
mini_fb/show_profile_page.html
Julia Santos Nothaft (jnothaft@bu.edu)
Create a page for a single profile
-->
{% extends 'mini_fb/base.html' %}

{% block content %}
    <center>
        <h3>{{person.first_name}} {{person.last_name}}</h3>

        <img src="{{person.image_url}}" style="height:400">
    </center>


    <p>
        {{person.email}} <br>
        {{person.city}}
    </p>

    <h2>Status Message</h2>

    <table style="text-align: left">
        <tr>
            <th>Time</th>
            <th>Message</th>
        </tr>
        <tr>
            {% load tz %}
            {% timezone "Europe/Paris" %}
            {% for message in person.get_status_messages %}
                <td>{{message.timestamp}}</td>
                <td>{{message.message}}</td>

        </tr>
    </table>
            {% endfor %}
            {% endtimezone %}
{% endblock %}



