<!-- mini_fb/show_all_profiles.html
Julia Santos Nothaft (jnothaft@bu.edu)
Home page showing all profiles-->

{% extends 'mini_fb/base.html' %}

{% block content %}
    <h2>Showing all Profiles</h2>

    <table>
        <tr>
            <th>Name</th>
            <th>Hometown</th>
            <th>Image</th>
        </tr>
        <tr>
        {% for profile in mini_fb %}

            <td><a href="{% url 'show_profile_page' profile.pk %}">{{profile.first_name}} {{profile.last_name}}</a> </td>
            <td>{{profile.city}}</td>
            <td><a href="{% url 'show_profile_page' profile.pk %}"><img src="{{profile.image_url}}" style="height:100;"></a></td>

        </tr>
        {% endfor %}
    </table>


{% endblock %}



