<!--
mini_fb/show_profile_page.html
Julia Santos Nothaft (jnothaft@bu.edu)
Create a page for a single profile
-->
{% extends 'mini_fb/base.html' %}

{% block content %}

    <h4>
        <a href="{% url 'update_profile' person.pk %}">Edit this profile</a> |
        <a href="{% url 'news_feed' person.pk %}">
            Show {{person.first_name}}'s News Feed
        </a> |
        <a href="{% url 'show_possible_friends' person.pk %}">
            Find Friends
        </a>
    </h4>

    <center>
        <h3>{{person.first_name}} {{person.last_name}}</h3>

        <img src="{{person.image_url}}" style="height:400">
    </center>


    <p>
        {{person.email}} <br>
        {{person.city}}
    </p>

    <h2>Post a Status Message</h2>
    <form method="POST" action="{% url 'post_status' person.pk %}" enctype='multipart/form-data'>
        {% csrf_token %}
        <table>
        <tr>
            {{create_status_form}}

        </tr>
        <tr>
            <td></td>
            <td>  <input type="submit" value="Share"> </td>
        </tr>
        </table>
    </form>


    <h2>Status Message</h2>
    <table style="text-align: left">
        <tr>
            <th>Time</th>
            <th>Message</th>
            <th></th>
        </tr>
        <tr>

            {% for message in person.get_status_messages %}
                <td>{{message.timestamp}}</td>
                <td>{{message.message}}
                {% if message.image %}
                <br><img src='{{message.image.url}}' style='max-height: 200;'>
                {% endif %}
                </td>
                <td>
                    <a href="{% url 'delete_status' profile_pk=person.pk status_pk=message.pk %}">Delete</a>
                </td>
            <br>
        </tr>

    </table>
            {% endfor %}

    <h2>{{person.first_name}}'s Friends</h2>

    {% if person.get_friends %}
    <table style="text-align:center">
    {% for friend in person.get_friends %}
        <tr>
            <td><a href="{% url 'show_profile_page' friend.pk %}">{{friend.first_name}} {{friend.last_name}}</a></td>
            <td><a href="{% url 'show_profile_page' friend.pk %}"><img src="{{friend.image_url}}" style="height:50;"></a><br></td>
        </tr>

    </table>
    {% endfor %}
    {% else %}
    {{person.first_name}} doesn't have any friends.
    {% endif %}

{% endblock %}



