<!-- about/home.html -->

{% extends 'pages/base.html' %}

{% block content %}

    <body>
    <h2>About the project</h2>
        <p>
            To prevent the spread of the virus due to the return of in-person classes,
            Boston University implemented a university-wide testing facility that processes
            around 6,000 COVID-19 tests per day. Due to the volume of samples collected,
            there is a critical need to develop a mechanism to store and process these
            samples so they can be used for further research to develop therapeutic and
            preventive treatments. Thus, our goal is to design and prototype a biobank
            that will store COVID-19 samples. Our objective in this application is to
            make it simpler for researchers to have access to specific samples that might
            help in the development of treatments and prevention mechanisms for the disease.
            The rationale for the proposed project is that the development of a low-cost biobank
            will be able to be reproduced in other research institutions as well as to make it
            simpler to access COVID-19 samples for research.
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>

        </p>

    </div>

     </body>

{% endblock %}
