<!-- pages/home.html -->
{% extends 'pages/base.html' %}

{% block content %}

<!--<h1> Hello, world!</h1>-->
<!--<p>-->
<!--    This is our first Django web application-->
<!--</p>-->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>
</head>
<body>

    <div style="padding-left:16px; background-image:
    url('http://d279m997dpfwgl.cloudfront.net/wp/2020/09/20-1317-COVTESTING-080-1000x667.jpg');
    background-repeat: no-repeat; background-size: cover; height:667">
              <br><br>
<!--            <header style="color:white"> <h1>PDC Covid-19 Biobank </h1></header>-->
              <table style="color:white">
                 <tr>
                     <td>
                         <img src="http://cs-people.bu.edu/jnothaft/PDC_logo.png" style="height:75" align="left">
                     </td>
                 </tr>

                <tr>
                    <td>
                        <big style="line-height: 1.6; text-align:justify;">A Covid-19 biobank to promote collaboration between </br>
                        researchers to promote the development of new technologies </br>
                            to prevent and treat this disease.</big>
                    </td>
                </tr>

              </table>

    </div>

    <div class="row"  style="padding-left:16px; background-color:white;">

<!--        <h2 style="color: CC0000; padding-left:16px; ">Sample Information & Services offered</h2>-->
        <div class="column" style="padding-left:16px; background-color: white; width: 400px;
    border: 15px solid white; padding: 50px; margin: 20px;">
            <center>
                <img src="http://cs-people.bu.edu/jnothaft/test_tube.png" style="height:100">

            <h2>Sample Information</h2>


                CT Values<br>
                <br>Date of Swab</br>
                <br>Result of Test</br>
                <br>Type of Sample</br>
                <br>Type of Test</br> <br>
             <form action="{% url 'order' %}">
            <input type="submit" value="Order Samples" style="background-color: #CC0000;
                  color: white;
                  padding: 12px 20px;
                  border: none;
                  border-radius: 4px;
                  cursor: pointer;
                  float: center;">

        </form>

            </center>

        </div>
        <div class="column" style="padding-left:16px; background-color:white; width: 400px;
    border: 15px solid white; padding: 50px; margin: 20px; ">
           <center>
            <img src="http://cs-people.bu.edu/jnothaft/dna.png" style="height:100">
            <h2>Services</h2>

              RNA Extraction*</br><br><br><br><br><br>
               *Other services available upon request. Please contact us for more information <br><br>
               <form action="{% url 'services' %}">
            <input type="submit" value="Learn More" style="background-color: #CC0000;
                  color: white;
                  padding: 12px 20px;
                  border: none;
                  border-radius: 4px;
                  cursor: pointer;
                  float: center;">

        </form>

           </center>

        </div>
        <div class="column" style="padding-left:16px; background-color:white; width: 400px;
    border: 15px solid white; padding: 50px; margin: 20px; ">
             <center>
            <img src="http://cs-people.bu.edu/jnothaft/about.png" style="height:100">

             <h2>About the project</h2>
        <p>
            A biobank to promote research collaboration through the sharing
            of samples in order to develop treatments for the COVID-19 pandemic.
        </p><br><br><br><br>
        <form action="{% url 'about' %}">
            <input type="submit" value="Learn More" style="background-color: #CC0000;
                  color: white;
                  padding: 12px 20px;
                  border: none;
                  border-radius: 4px;
                  cursor: pointer;
                  float: center;">

        </form>
       </center>
        </div>


    </div>



</body>

{% endblock %}




