<!-- about/inventory.html -->

{% extends 'pages/base.html' %}

{% block content %}
<h1 style="padding-left:16px">Biobank Inventory</h1>

<p style="text-align:justify; padding-left:16px; padding-right:16px">
    Samples were collected by the anterior nares self-administered “nasal swab” method
    of acquisition and were tested using the RT-PCR method.

    <br><br><b>Disclaimer:</b> The samples available in the lab are not related to the university
    testing data. The information displayed on this website is related to the available
    samples in the COVID-19 Biobank.

</p>

<table style="text-align:center; padding-left:16px">
    <tr>
        <th>Total Samples Available</th>
        <th>Positive Samples</th>
        <th>Negative Samples</th>
    </tr>
        <td>10,000</td>
        <td>2,100</td>
        <td>7,900</td>

    <tr>

    </tr>
</table>
<center>
<h3>Number of Positive Samples per Month</h3>
<img src="http://cs-people.bu.edu/jnothaft/graph_dates.png">

<h3>Number of Positive Samples per Collection Site</h3>
<img src="http://cs-people.bu.edu/jnothaft/graph_dates.png">
</center>


{% endblock %}
