{% extends 'pages/base.html' %}

{% block content %}
<h1 style="text-align:justify; padding-left:16px; padding-right:16px">Services</h1>

<h3 style="text-align:justify; padding-left:16px; padding-right:16px">Spin-Column RNA Extraction</h3>
<img src="http://cs-people.bu.edu/jnothaft/Spin-ColumnRNA.png" style="max-height:400">

<h3 style="text-align:justify; padding-left:16px; padding-right:16px">Magnetic Bead RNA Extraction</h3>
<img src="http://cs-people.bu.edu/jnothaft/Magnetic-BeadRNA.png" style="max-height:400; padding-left:75px">


{% endblock %}
